.container_field {
  background-color: white;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.container_bufferfield {
  background-color: white;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 20px;
}
