<canvas #Field class="container_field"></canvas>
<canvas #Buffer_field class="container_bufferfield" width="105" height="105"></canvas>
<app-info [viewLevel] = "level" [viewLines]="lines" [viewScore]="score"></app-info>
<app-button (onPause)="onPause()" (onRestart)="onRestart()"></app-button>
<app-game-over  *ngIf="showWindow" [showLevel] = "windowLevel" [showScore]="windowScore" (onHideWindow)="onHideWindow()"></app-game-over>
