.container_info {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 20px;
}

.level_info {
  width: 103px;
  height: 20px;
  text-align: center;
}
