@font-face {
  font-family: GameOver; /* Имя шрифта */
  src: url(../../assets/font-face/GameOver.otf); /* Путь к файлу со шрифтом */
}
h1 {
  margin-top: 10px;
  text-align: center;
  font-family: GameOver;
  padding-bottom: 10px;
}

h2 {
  padding-bottom: 5px;
}
.window {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: -170px;
  margin-left: 28px;
  background-color: #B6D1DA;
  width: 320px;
  height: 200px;
  position: absolute;
}

.container_info {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  //margin-top: 0px;
  margin-bottom: 20px;
}

.level_info {
  padding-bottom: 5px;
  margin: auto;
  width: 103px;
  height: 20px;
  text-align: center;
}

.level_button {
  display: inline-block;
  width: 80px;
  height: 25px;
  border: 1px solid black;
  text-align: center;
  margin-top: 15px;
  border-radius: 5px;
}
