<div class = 'window'>
  <h1>GAME OVER</h1>
  <h2>Your results:</h2>
  <div class='level_info'><h3>Level: {{showLevel}}</h3></div>
  <div class='level_info'><h3>Score: {{showScore}}</h3></div>
  <button #blurRestart class='level_button' (click) = 'buttonHideWindow()'>OK</button>
</div>
